.bk {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/back.jpg');
}

.heading {
  margin-top: 100px;
  margin-left: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 42px;
  z-index: 2;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.mid-cont {
  margin-top: 80px;
}

.in-head {
  font-weight: 600;
}

.shop-link {
  margin-top: 20px;
  margin-left: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 32px;
  z-index: 2;
  font-weight: 400;
  text-decoration: underline;
}
.shop-link:hover {
  color: #265d9b;
}

.heading-cat {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}

.para {
  margin-top: 20px;
  background-image: url('../../images/back-con.jpeg');
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-head {
  margin-top: 150px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 20px;
  z-index: 3;
  letter-spacing: 1.5px;
  font-weight: 600;
}
