.nav-style {
  line-height: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  padding: 20;
}

.logo-image {
  height: 60px;
}

.cart {
  color: #383838;
  margin-left: 80px;
}

.cart:hover {
  color: black;
}

.nav-links {
  text-decoration: none;
  color: #383838;
  letter-spacing: 1px;
  margin-right: 20px;
}

.nav-links:hover {
  text-decoration: underline;
  color: black;
}
